<!DOCTYPE html>
<html lang="en"  dir="ltr">
    
    <head >
      <meta charset="utf-8" > 
        <link  rel= "stylesheet" href="css/ece.css" >
        <title>
            ECE
        </title>
    </head>

<body>
    <div class="Navigation">
        <h1> Attendence Management System </h1>
      </div>

      <div class="main-container">
         <h1>Electronic & Communication Engineering</h1>
        <ul>
          
          <li class="department">
            <a href="/Admin/addStudent/cse">
              <div >
                <h2>First Year</h2>
              </div>
            </a>
          </li>
        

          <li class="department">
            <a href="/Admin/addStudent/it">
              <div >
                <h2>Second Year</h2>
              </div>
            </a>
          </li>

          <li class="department">
            <a href="/Admin/addStudent/ece">
              <div >
                <h2>Third Year</h2>
              </div>
            </a>
          </li>

          <li class="department">
            <a href="/Admin/addStudent/me">
              <div >
                <h2>Fouth Year</h2>
              </div>
            </a>
          </li>
</body>
<style>

body{
    margin:0;
    border:10px solid white;
    height:94vh;
    background-color: #034f84;
}
.Navigation{
  
  position:sticky;
  background-color: green;
  height:50px;
  width:100%;
  color:aliceblue;
  font-size: large;
  text-align: center;
  margin:0;
  
  
}

.Navigation h1{
  position:relative;
  left:0px;
  top:6px;
  font-size: 30px;
  color:rgb(245, 237, 238);
  }

  .main-container h1{
    position:relative;
    left:10px;
    color: white;
    
}

  ul{
    list-style-type: none;
  }
.department{
position:relative;
padding:0;
margin:0;
left:105px;
height:80px;
width:621px;
text-align: center;
color:white;
border-radius: 0.8rem;
}

li:nth-child(even){
background-color: #e06377;
}

li:nth-child(odd){
background-color: #5b9aa0;
}
li a{
text-decoration: none;
color:white;
}

li h2{
position: relative;
top:28px;

}
</style>

</html>