<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
   
    <title>React App</title>
  </head>
  <body>
    
    <div id="root">
        <div >
            <nav class="Navigation"><h1> Attendence Management System </h1></nav>
           <img src='image/logo_cemk.png' alt=' '  class="college_logo">
           
            <h1 class="college_name">College of Engineering & Management,Kolaghat</h1>
            <div>
              <div>
                <img src='image/class-room.jpeg' alt=" " class="college_image">
              </div>
              <div class="log-in">
             
             
                <form action="/" method="POST">
                <ul>
                <li class="user-icon" style="color:green">
                    <i class="fa fa-circle-user fa-5x"></i>
                </li>
                
      
                <li>
                  <select name="user_type">
                    <option value='Admin'>Admin</option>
                    <option value='Teacher'>Teacher</option>
                    <option value='Student'>Student</option>
                  </select>
      
                  </li>
                
                  <li>
                  <input type="text" placeholder="User Id" name="user_id">
                  </input>
                  </li>
                 
      
                  <li>
                  <input type="text" placeholder="Password" name="Password">
                    </input>
                    </li>
                   
                    
                  <button type="submit">Log in</button>
      
                  </ul>
                </form>
              </div>
            </div>
          </div>

    </div>
   
 
  </body>
</html>